In [63]:
import pandas as pd

In [64]:
df = pd.read_csv("DMV Bank Dataset.csv")
df.shape

(76742, 20)

In [65]:
df.columns

Index(['YEAR', 'CERT', 'NAMEFULL', 'ADDRESBR', 'BRNUM', 'UNINUMBR', 'STALPBR',
       'ADDRESS', 'BKCLASS', 'CITY', 'STALP', 'STCNTY', 'STNAME', 'ZIP',
       'CNTYNAMB', 'DEPSUMBR', 'NAMEBR', 'SIMS_ESTABLISHED_DATE',
       'SIMS_LATITUDE', 'SIMS_LONGITUDE'],
      dtype='object')

In [66]:
df.head()

,YEAR,CERT,NAMEFULL,ADDRESBR,BRNUM,UNINUMBR,STALPBR,ADDRESS,BKCLASS,CITY,STALP,STCNTY,STNAME,ZIP,CNTYNAMB,DEPSUMBR,NAMEBR,SIMS_ESTABLISHED_DATE,SIMS_LATITUDE,SIMS_LONGITUDE
0,2024,14,State Street Bank and Trust Company,"One Congress Street, Suite 1",0,6,MA,"One Congress Street, Suite 1",SM,Boston,MA,25025,Massachusetts,2114,Suffolk,179519000,State Street Bank And Trust Company,01/01/1792,42.362854,-71.059826
1,2024,14,State Street Bank and Trust Company,"1100 Main St, Floor 3",30,614738,MO,"One Congress Street, Suite 1",SM,Boston,MA,25025,Massachusetts,2114,Jackson,0,Kansas City Branch,11/1/2000,39.100406,-94.583772
2,2024,14,State Street Bank and Trust Company,525 Washington Blvd,31,627595,NJ,"One Congress Street, Suite 1",SM,Boston,MA,25025,Massachusetts,2114,Hudson,0,State Street Bank And Trust Company - New Jers...,9/16/2020,40.726929,-74.035569
3,2024,35,AuburnBank,100 N Gay St,0,17,AL,100 N Gay St,SM,Auburn,AL,1081,Alabama,36830,Lee,507256,Auburnbank,1/3/1907,32.606793,-85.479603
4,2024,35,AuburnBank,1851 Frederick Rd,10,478897,AL,100 N Gay St,SM,Auburn,AL,1081,Alabama,36830,Lee,42766,Frederick Road,7/12/2007,32.622753,-85.403214

In [67]:
# Kept only the useful columns
df = df[['CERT', 'NAMEFULL', 'ADDRESBR', 'CITY', 'STNAME', 'ZIP',
         'DEPSUMBR', 'NAMEBR', 'SIMS_ESTABLISHED_DATE', 'SIMS_LATITUDE', 'SIMS_LONGITUDE']]

# Filter only DC
df_dc = df[df['STNAME'] == 'District Of Columbia']

In [68]:
df.head()

,CERT,NAMEFULL,ADDRESBR,CITY,STNAME,ZIP,DEPSUMBR,NAMEBR,SIMS_ESTABLISHED_DATE,SIMS_LATITUDE,SIMS_LONGITUDE
0,14,State Street Bank and Trust Company,"One Congress Street, Suite 1",Boston,Massachusetts,2114,179519000,State Street Bank And Trust Company,01/01/1792,42.362854,-71.059826
1,14,State Street Bank and Trust Company,"1100 Main St, Floor 3",Boston,Massachusetts,2114,0,Kansas City Branch,11/1/2000,39.100406,-94.583772
2,14,State Street Bank and Trust Company,525 Washington Blvd,Boston,Massachusetts,2114,0,State Street Bank And Trust Company - New Jers...,9/16/2020,40.726929,-74.035569
3,35,AuburnBank,100 N Gay St,Auburn,Alabama,36830,507256,Auburnbank,1/3/1907,32.606793,-85.479603
4,35,AuburnBank,1851 Frederick Rd,Auburn,Alabama,36830,42766,Frederick Road,7/12/2007,32.622753,-85.403214

In [69]:
#missing values in any column
df_dc.isnull().sum()

CERT                     0
NAMEFULL                 0
ADDRESBR                 0
CITY                     0
STNAME                   0
ZIP                      0
DEPSUMBR                 0
NAMEBR                   0
SIMS_ESTABLISHED_DATE    0
SIMS_LATITUDE            0
SIMS_LONGITUDE           0
dtype: int64

In [70]:
df_dc.duplicated().sum()

0

In [71]:
# convert to date
df['SIMS_ESTABLISHED_DATE'] = pd.to_datetime(df['SIMS_ESTABLISHED_DATE'])

Wasington DC Climate Dataset
This dataset shows climate risk scores for each county in Wasington DC.
It includes population and ratings that describe how likely each county is to face things like floods, heat, and other disasters.

In [72]:
climate_dc = pd.read_csv("DC Climate Dataset.csv")
climate_dc.head()

,OID_,NRI_ID,STATE,STATEABBRV,STATEFIPS,COUNTY,COUNTYTYPE,COUNTYFIPS,STCOFIPS,POPULATION,...,WNTW_EALS,WNTW_EALR,WNTW_ALRB,WNTW_ALRP,WNTW_ALRA,WNTW_ALR_NPCTL,WNTW_RISKV,WNTW_RISKS,WNTW_RISKR,NRI_VER
0,321,C11001,District of Columbia,DC,11,District of Columbia,NaN,1,11001,688888,...,88.857939,Relatively High,8.166960e-09,3.966190e-08,0,20.767564,369428.752867,88.482342,Relatively High,Mar-23

In [73]:
climate_dc.columns.tolist()

['OID_',
 'NRI_ID',
 'STATE',
 'STATEABBRV',
 'STATEFIPS',
 'COUNTY',
 'COUNTYTYPE',
 'COUNTYFIPS',
 'STCOFIPS',
 'POPULATION',
 'BUILDVALUE',
 'AGRIVALUE',
 'AREA',
 'RISK_VALUE',
 'RISK_SCORE',
 'RISK_RATNG',
 'RISK_SPCTL',
 'EAL_SCORE',
 'EAL_RATNG',
 'EAL_SPCTL',
 'EAL_VALT',
 'EAL_VALB',
 'EAL_VALP',
 'EAL_VALPE',
 'EAL_VALA',
 'ALR_VALB',
 'ALR_VALP',
 'ALR_VALA',
 'ALR_NPCTL',
 'ALR_VRA_NPCTL',
 'SOVI_SCORE',
 'SOVI_RATNG',
 'SOVI_SPCTL',
 'RESL_SCORE',
 'RESL_RATNG',
 'RESL_SPCTL',
 'RESL_VALUE',
 'CRF_VALUE',
 'AVLN_EVNTS',
 'AVLN_AFREQ',
 'AVLN_EXP_AREA',
 'AVLN_EXPB',
 'AVLN_EXPP',
 'AVLN_EXPPE',
 'AVLN_EXPT',
 'AVLN_HLRB',
 'AVLN_HLRP',
 'AVLN_HLRR',
 'AVLN_EALB',
 'AVLN_EALP',
 'AVLN_EALPE',
 'AVLN_EALT',
 'AVLN_EALS',
 'AVLN_EALR',
 'AVLN_ALRB',
 'AVLN_ALRP',
 'AVLN_ALR_NPCTL',
 'AVLN_RISKV',
 'AVLN_RISKS',
 'AVLN_RISKR',
 'CFLD_EVNTS',
 'CFLD_AFREQ',
 'CFLD_EXP_AREA',
 'CFLD_EXPB',
 'CFLD_EXPP',
 'CFLD_EXPPE',
 'CFLD_EXPT',
 'CFLD_HLRB',
 'CFLD_HLRP',
 'CFLD_HLRR',
 'CFLD_EALB',
 'CFLD_EALP',
 'CFLD_EALPE',
 'CFLD_EALT',
 'CFLD_EALS',
 'CFLD_EALR',
 'CFLD_ALRB',
 'CFLD_ALRP',
 'CFLD_ALR_NPCTL',
 'CFLD_RISKV',
 'CFLD_RISKS',
 'CFLD_RISKR',
 'CWAV_EVNTS',
 'CWAV_AFREQ',
 'CWAV_EXP_AREA',
 'CWAV_EXPB',
 'CWAV_EXPP',
 'CWAV_EXPPE',
 'CWAV_EXPA',
 'CWAV_EXPT',
 'CWAV_HLRB',
 'CWAV_HLRP',
 'CWAV_HLRA',
 'CWAV_HLRR',
 'CWAV_EALB',
 'CWAV_EALP',
 'CWAV_EALPE',
 'CWAV_EALA',
 'CWAV_EALT',
 'CWAV_EALS',
 'CWAV_EALR',
 'CWAV_ALRB',
 'CWAV_ALRP',
 'CWAV_ALRA',
 'CWAV_ALR_NPCTL',
 'CWAV_RISKV',
 'CWAV_RISKS',
 'CWAV_RISKR',
 'DRGT_EVNTS',
 'DRGT_AFREQ',
 'DRGT_EXP_AREA',
 'DRGT_EXPA',
 'DRGT_EXPT',
 'DRGT_HLRA',
 'DRGT_HLRR',
 'DRGT_EALA',
 'DRGT_EALT',
 'DRGT_EALS',
 'DRGT_EALR',
 'DRGT_ALRA',
 'DRGT_ALR_NPCTL',
 'DRGT_RISKV',
 'DRGT_RISKS',
 'DRGT_RISKR',
 'ERQK_EVNTS',
 'ERQK_AFREQ',
 'ERQK_EXP_AREA',
 'ERQK_EXPB',
 'ERQK_EXPP',
 'ERQK_EXPPE',
 'ERQK_EXPT',
 'ERQK_HLRB',
 'ERQK_HLRP',
 'ERQK_HLRR',
 'ERQK_EALB',
 'ERQK_EALP',
 'ERQK_EALPE',
 'ERQK_EALT',
 'ERQK_EALS',
 'ERQK_EALR',
 'ERQK_ALRB',
 'ERQK_ALRP',
 'ERQK_ALR_NPCTL',
 'ERQK_RISKV',
 'ERQK_RISKS',
 'ERQK_RISKR',
 'HAIL_EVNTS',
 'HAIL_AFREQ',
 'HAIL_EXP_AREA',
 'HAIL_EXPB',
 'HAIL_EXPP',
 'HAIL_EXPPE',
 'HAIL_EXPA',
 'HAIL_EXPT',
 'HAIL_HLRB',
 'HAIL_HLRP',
 'HAIL_HLRA',
 'HAIL_HLRR',
 'HAIL_EALB',
 'HAIL_EALP',
 'HAIL_EALPE',
 'HAIL_EALA',
 'HAIL_EALT',
 'HAIL_EALS',
 'HAIL_EALR',
 'HAIL_ALRB',
 'HAIL_ALRP',
 'HAIL_ALRA',
 'HAIL_ALR_NPCTL',
 'HAIL_RISKV',
 'HAIL_RISKS',
 'HAIL_RISKR',
 'HWAV_EVNTS',
 'HWAV_AFREQ',
 'HWAV_EXP_AREA',
 'HWAV_EXPB',
 'HWAV_EXPP',
 'HWAV_EXPPE',
 'HWAV_EXPA',
 'HWAV_EXPT',
 'HWAV_HLRB',
 'HWAV_HLRP',
 'HWAV_HLRA',
 'HWAV_HLRR',
 'HWAV_EALB',
 'HWAV_EALP',
 'HWAV_EALPE',
 'HWAV_EALA',
 'HWAV_EALT',
 'HWAV_EALS',
 'HWAV_EALR',
 'HWAV_ALRB',
 'HWAV_ALRP',
 'HWAV_ALRA',
 'HWAV_ALR_NPCTL',
 'HWAV_RISKV',
 'HWAV_RISKS',
 'HWAV_RISKR',
 'HRCN_EVNTS',
 'HRCN_AFREQ',
 'HRCN_EXP_AREA',
 'HRCN_EXPB',
 'HRCN_EXPP',
 'HRCN_EXPPE',
 'HRCN_EXPA',
 'HRCN_EXPT',
 'HRCN_HLRB',
 'HRCN_HLRP',
 'HRCN_HLRA',
 'HRCN_HLRR',
 'HRCN_EALB',
 'HRCN_EALP',
 'HRCN_EALPE',
 'HRCN_EALA',
 'HRCN_EALT',
 'HRCN_EALS',
 'HRCN_EALR',
 'HRCN_ALRB',
 'HRCN_ALRP',
 'HRCN_ALRA',
 'HRCN_ALR_NPCTL',
 'HRCN_RISKV',
 'HRCN_RISKS',
 'HRCN_RISKR',
 'ISTM_EVNTS',
 'ISTM_AFREQ',
 'ISTM_EXP_AREA',
 'ISTM_EXPB',
 'ISTM_EXPP',
 'ISTM_EXPPE',
 'ISTM_EXPT',
 'ISTM_HLRB',
 'ISTM_HLRP',
 'ISTM_HLRR',
 'ISTM_EALB',
 'ISTM_EALP',
 'ISTM_EALPE',
 'ISTM_EALT',
 'ISTM_EALS',
 'ISTM_EALR',
 'ISTM_ALRB',
 'ISTM_ALRP',
 'ISTM_ALR_NPCTL',
 'ISTM_RISKV',
 'ISTM_RISKS',
 'ISTM_RISKR',
 'LNDS_EVNTS',
 'LNDS_AFREQ',
 'LNDS_EXP_AREA',
 'LNDS_EXPB',
 'LNDS_EXPP',
 'LNDS_EXPPE',
 'LNDS_EXPT',
 'LNDS_HLRB',
 'LNDS_HLRP',
 'LNDS_HLRR',
 'LNDS_EALB',
 'LNDS_EALP',
 'LNDS_EALPE',
 'LNDS_EALT',
 'LNDS_EALS',
 'LNDS_EALR',
 'LNDS_ALRB',
 'LNDS_ALRP',
 'LNDS_ALR_NPCTL',
 'LNDS_RISKV',
 'LNDS_RISKS',
 'LNDS_RISKR',
 'LTNG_EVNTS',
 'LTNG_AFREQ',
 'LTNG_EXP_AREA',
 'LTNG_EXPB',
 'LTNG_EXPP',
 'LTNG_EXPPE',
 'LTNG_EXPT',
 'LTNG_HLRB',
 'LTNG_HLRP',
 'LTNG_HLRR',
 'LTNG_EALB',
 'LTNG_EALP',
 'LTNG_EALPE',
 'LTNG_EALT',
 'LTNG_EALS',
 'LTNG_EALR',
 'LTNG_ALRB',
 'LTNG_ALRP',
 'LTNG_ALR_NPCTL',
 'LTNG_RISKV',
 'LTNG_RISKS',
 'LTNG_RISKR',
 'RFLD_EVNTS',
 'RFLD_AFREQ',
 'RFLD_EXP_AREA',
 'RFLD_EXPB',
 'RFLD_EXPP',
 'RFLD_EXPPE',
 'RFLD_EXPA',
 'RFLD_EXPT',
 'RFLD_HLRB',
 'RFLD_HLRP',
 'RFLD_HLRA',
 'RFLD_HLRR',
 'RFLD_EALB',
 'RFLD_EALP',
 'RFLD_EALPE',
 'RFLD_EALA',
 'RFLD_EALT',
 'RFLD_EALS',
 'RFLD_EALR',
 'RFLD_ALRB',
 'RFLD_ALRP',
 'RFLD_ALRA',
 'RFLD_ALR_NPCTL',
 'RFLD_RISKV',
 'RFLD_RISKS',
 'RFLD_RISKR',
 'SWND_EVNTS',
 'SWND_AFREQ',
 'SWND_EXP_AREA',
 'SWND_EXPB',
 'SWND_EXPP',
 'SWND_EXPPE',
 'SWND_EXPA',
 'SWND_EXPT',
 'SWND_HLRB',
 'SWND_HLRP',
 'SWND_HLRA',
 'SWND_HLRR',
 'SWND_EALB',
 'SWND_EALP',
 'SWND_EALPE',
 'SWND_EALA',
 'SWND_EALT',
 'SWND_EALS',
 'SWND_EALR',
 'SWND_ALRB',
 'SWND_ALRP',
 'SWND_ALRA',
 'SWND_ALR_NPCTL',
 'SWND_RISKV',
 'SWND_RISKS',
 'SWND_RISKR',
 'TRND_EVNTS',
 'TRND_AFREQ',
 'TRND_EXP_AREA',
 'TRND_EXPB',
 'TRND_EXPP',
 'TRND_EXPPE',
 'TRND_EXPA',
 'TRND_EXPT',
 'TRND_HLRB',
 'TRND_HLRP',
 'TRND_HLRA',
 'TRND_HLRR',
 'TRND_EALB',
 'TRND_EALP',
 'TRND_EALPE',
 'TRND_EALA',
 'TRND_EALT',
 'TRND_EALS',
 'TRND_EALR',
 'TRND_ALRB',
 'TRND_ALRP',
 'TRND_ALRA',
 'TRND_ALR_NPCTL',
 'TRND_RISKV',
 'TRND_RISKS',
 'TRND_RISKR',
 'TSUN_EVNTS',
 'TSUN_AFREQ',
 'TSUN_EXP_AREA',
 'TSUN_EXPB',
 'TSUN_EXPP',
 'TSUN_EXPPE',
 'TSUN_EXPT',
 'TSUN_HLRB',
 'TSUN_HLRP',
 'TSUN_HLRR',
 'TSUN_EALB',
 'TSUN_EALP',
 'TSUN_EALPE',
 'TSUN_EALT',
 'TSUN_EALS',
 'TSUN_EALR',
 'TSUN_ALRB',
 'TSUN_ALRP',
 'TSUN_ALR_NPCTL',
 'TSUN_RISKV',
 'TSUN_RISKS',
 'TSUN_RISKR',
 'VLCN_EVNTS',
 'VLCN_AFREQ',
 'VLCN_EXP_AREA',
 'VLCN_EXPB',
 'VLCN_EXPP',
 'VLCN_EXPPE',
 'VLCN_EXPT',
 'VLCN_HLRB',
 'VLCN_HLRP',
 'VLCN_HLRR',
 'VLCN_EALB',
 'VLCN_EALP',
 'VLCN_EALPE',
 'VLCN_EALT',
 'VLCN_EALS',
 'VLCN_EALR',
 'VLCN_ALRB',
 'VLCN_ALRP',
 'VLCN_ALR_NPCTL',
 'VLCN_RISKV',
 'VLCN_RISKS',
 'VLCN_RISKR',
 'WFIR_EVNTS',
 'WFIR_AFREQ',
 'WFIR_EXP_AREA',
 'WFIR_EXPB',
 'WFIR_EXPP',
 'WFIR_EXPPE',
 'WFIR_EXPA',
 'WFIR_EXPT',
 'WFIR_HLRB',
 'WFIR_HLRP',
 'WFIR_HLRA',
 'WFIR_HLRR',
 'WFIR_EALB',
 'WFIR_EALP',
 'WFIR_EALPE',
 'WFIR_EALA',
 'WFIR_EALT',
 'WFIR_EALS',
 'WFIR_EALR',
 'WFIR_ALRB',
 'WFIR_ALRP',
 'WFIR_ALRA',
 'WFIR_ALR_NPCTL',
 'WFIR_RISKV',
 'WFIR_RISKS',
 'WFIR_RISKR',
 'WNTW_EVNTS',
 'WNTW_AFREQ',
 'WNTW_EXP_AREA',
 'WNTW_EXPB',
 'WNTW_EXPP',
 'WNTW_EXPPE',
 'WNTW_EXPA',
 'WNTW_EXPT',
 'WNTW_HLRB',
 'WNTW_HLRP',
 'WNTW_HLRA',
 'WNTW_HLRR',
 'WNTW_EALB',
 'WNTW_EALP',
 'WNTW_EALPE',
 'WNTW_EALA',
 'WNTW_EALT',
 'WNTW_EALS',
 'WNTW_EALR',
 'WNTW_ALRB',
 'WNTW_ALRP',
 'WNTW_ALRA',
 'WNTW_ALR_NPCTL',
 'WNTW_RISKV',
 'WNTW_RISKS',
 'WNTW_RISKR',
 'NRI_VER']

In [74]:
# fix column names
climate_dc = climate_dc.rename(columns={
    'COUNTY': 'county',
    'STATE': 'state',
    'POPULATION': 'population',
    'RISK_SCORE': 'risk_score',
    'RISK_RATNG': 'risk_rating'
})

# keep only needed columns
climate_dc = climate_dc[['county', 'state', 'population', 'risk_score', 'risk_rating']]


climate_dc.head()

,county,state,population,risk_score,risk_rating
0,District of Columbia,District of Columbia,688888,91.568565,Relatively Moderate

In [75]:
# add county column
df_dc['county'] = 'District of Columbia'

# merge with DC climate
dc_merged = df_dc.merge(climate_dc, on='county', how='left')

# quick look
dc_merged.head()

C:\Users\fikda\AppData\Local\Temp\ipykernel_2760\796298332.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dc['county'] = 'District of Columbia'

,CERT,NAMEFULL,ADDRESBR,CITY,STNAME,ZIP,DEPSUMBR,NAMEBR,SIMS_ESTABLISHED_DATE,SIMS_LATITUDE,SIMS_LONGITUDE,county,state,population,risk_score,risk_rating
0,2093,The National Capital Bank of Washington,316 Pennsylvania Ave Se,Washington,District Of Columbia,20003,403785,The National Capital Bank Of Washington,08/30/1889,38.887046,-77.001107,District of Columbia,District of Columbia,688888,91.568565,Relatively Moderate
1,2093,The National Capital Bank of Washington,5228 44th St Nw,Washington,District Of Columbia,20003,98598,Friendship Heights Branch,10/6/1997,38.958007,-77.086439,District of Columbia,District of Columbia,688888,91.568565,Relatively Moderate
2,2093,The National Capital Bank of Washington,2505 Wilson Blvd,Washington,District Of Columbia,20003,74035,Courthouse Branch,3/29/2018,38.890488,-77.089097,District of Columbia,District of Columbia,688888,91.568565,Relatively Moderate
3,2093,The National Capital Bank of Washington,8300 Burdette Rd,Washington,District Of Columbia,20003,33556,Fox Hill Branch,6/17/2019,38.991951,-77.154112,District of Columbia,District of Columbia,688888,91.568565,Relatively Moderate
4,14679,Industrial Bank,4812 Georgia Ave Nw,Washington,District Of Columbia,20011,162415,Industrial Bank,8/18/1934,38.949331,-77.027411,District of Columbia,District of Columbia,688888,91.568565,Relatively Moderate

In [76]:
print(dc_merged.columns.tolist())

['CERT', 'NAMEFULL', 'ADDRESBR', 'CITY', 'STNAME', 'ZIP', 'DEPSUMBR', 'NAMEBR', 'SIMS_ESTABLISHED_DATE', 'SIMS_LATITUDE', 'SIMS_LONGITUDE', 'county', 'state', 'population', 'risk_score', 'risk_rating']

In [77]:
# rename all columns to clean names
df_dc = dc_merged.rename(columns={
    "CERT": "cert",
    "NAMEFULL": "bank_name",
    "ADDRESBR": "address",
    "CITY": "city",
    "STNAME": "state",
    "ZIP": "zip",
    "DEPSUMBR": "deposit",
    "NAMEBR": "branch_name",
    "SIMS_ESTABLISHED_DATE": "established_date",
    "SIMS_LATITUDE": "latitude",
    "SIMS_LONGITUDE": "longitude",
    "county_name": "county",           
    "RISK_SCORE": "risk_score",       
    "RISK_RATNG": "risk_rating"
})

# keep column order
df_dc = df_dc[[
    "cert","bank_name","address","city","state","zip","deposit",
    "branch_name","established_date","latitude","longitude",
    "county","risk_score","risk_rating"
]]

In [78]:
df_dc.head()

,cert,bank_name,address,city,state,state,zip,deposit,branch_name,established_date,latitude,longitude,county,risk_score,risk_rating
0,2093,The National Capital Bank of Washington,316 Pennsylvania Ave Se,Washington,District Of Columbia,District of Columbia,20003,403785,The National Capital Bank Of Washington,08/30/1889,38.887046,-77.001107,District of Columbia,91.568565,Relatively Moderate
1,2093,The National Capital Bank of Washington,5228 44th St Nw,Washington,District Of Columbia,District of Columbia,20003,98598,Friendship Heights Branch,10/6/1997,38.958007,-77.086439,District of Columbia,91.568565,Relatively Moderate
2,2093,The National Capital Bank of Washington,2505 Wilson Blvd,Washington,District Of Columbia,District of Columbia,20003,74035,Courthouse Branch,3/29/2018,38.890488,-77.089097,District of Columbia,91.568565,Relatively Moderate
3,2093,The National Capital Bank of Washington,8300 Burdette Rd,Washington,District Of Columbia,District of Columbia,20003,33556,Fox Hill Branch,6/17/2019,38.991951,-77.154112,District of Columbia,91.568565,Relatively Moderate
4,14679,Industrial Bank,4812 Georgia Ave Nw,Washington,District Of Columbia,District of Columbia,20011,162415,Industrial Bank,8/18/1934,38.949331,-77.027411,District of Columbia,91.568565,Relatively Moderate

In [79]:
df_dc.isnull().sum()

cert                0
bank_name           0
address             0
city                0
state               0
state               0
zip                 0
deposit             0
branch_name         0
established_date    0
latitude            0
longitude           0
county              0
risk_score          0
risk_rating         0
dtype: int64

In [80]:
df_dc.duplicated().sum()

0

In [81]:
df_dc.to_csv("dc_clean.csv", index=False)